/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
display: none;
}

html, body{
    padding: 0;
    background: #f5f5f5;
    -webkit-overflow-scrolling: touch;
    font-size: 12px;
}

.body-overflow-no-scroll{
    position: absolute;
    height: 100%;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}
#main{
    background: #EAEAF1;
    overflow: hidden;
    color: #333332;
    height: 100%;
    -webkit-transition: -webkit-transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);/* let the container move smoothly*/
    -moz-transition: -moz-transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);/* let the container move smoothly*/
    transition: transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);/* let the container move smoothly*/
}

body { 
    font-size: 1.4em;
    line-height: 1.6;
    height: 100%;
    margin: 0 auto !important;
    color: #4a4a4a;  
    transition: background-color .5s;
    width: 414px;
    overflow-x: hidden;
}

.nav-content{
    display: flex;
    padding: 10px 16px 6px 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 414px;
    box-shadow: 0 5px 16px -9px #000000;
  }

.nav-content.scroll{
    height: 48px;
    transition: height 0.25s ease-in;
}

#menu-sidebar{
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
}

#main{
    transition: margin-left .5s;
}
.content-main{
    background: white;
    /*margin-top: 70px;*/
}

.main-navigation{
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
}

.main-navigation.open{
    position: unset;
    overflow: hidden;
}

.main-navigation.open .nav-content{
    margin-left: 288px;

}

.main-navigation.open > ul > li{
    /*
      flex-grow: 1;
      flex-shrink: 1;
       set value for the flex basis, the two properties above will evenly 
      divide the space. 
      flex-basis: 20px;
    
      -webkit-flex-grow: 1;
      -webkit-flex-shrink: 1;
    */
    margin: 5px;
    overflow: hidden;
    padding-left: 15px;
}
.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.bounce {
    position: absolute;
    bottom: 30px;
    left: 50% ;
    width: 60px;
    height: 60px ;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}


/*top slideshow*/
.animate {
  transition: transform 0.3s ease-out;
}

.slider-wrap {
  width: 414px;
  height: 735px;
  z-index: 1;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
  width: 303%;
  max-height: 758px;
  height: 100%;
  /*margin-left: 67px;*/
  /*overflow-y: hidden;*/
}

.slide-wrapper {
  width: 42.333%;
  height: 100%;
  float: left;
  height: 500px;
  position: relative;
  /*overflow: hidden;*/
}

.slide {
  height: 100%;
  position: relative;
}

.temp {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}

.slide img {
  position: absolute;
  width: 414px;
  z-index: 0;
  transform: translatex(0px);
}

.slide:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.slide div {
  width: 300px;
  height: 500px;
  z-index: 0;
}

.scroolBottom{
    position: absolute;
    left: 0;
    right: 0;
    top: 675px;
    width: 16px;
    height: 9px;
    margin-left: auto;
    margin-right: auto;
  }

.slick-list{
  overflow: unset !important
}

.ax_default.slick-slide.slick-cloned{
  display: none
}

#slider .holder{
    -webkit-transition: transform 2s; /* Safari */
    transition: transform 2s;
}
.beli-paket_box{
  display: block;
  position: relative;
  height: 372px;
  width: 413px;
  overflow-y: hidden; 
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
  transition: transform .2s;
  /*margin: 3px;*/
  margin-top: 24px;
}

.card-beli_paket, .card-beli_paket_2, .card-beli_paket_3, .card-beli_paket_4{
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #4A4A4A;
    text-align: left;
    line-height: 16px;
    border-width: 0px;
    position: absolute;
    width: 304px;
    height: 335px;
    left: 25px;
    background: url(../../images/mobile/grafis-beli-paket.png) no-repeat !important;
}
.card-beli_paket_2{
  left: 355px
}
.card-beli_paket_3{
  left: 686px
}
.card-beli_paket_4{
  left: 1018px
}
.content-card{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 304px;
    height: 335px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(255, 236, 235), 0 6px 33px 0 rgba(255, 0, 0, 0.19);
  }
.content-card .harga{
    border-width: 0px;
    position: absolute;
    left: 20px;
    top: 152px;
    width: 270px;
    height: 26px;
    /*font-family: 'Lato-Bold', 'Lato Bold', 'Lato';*/
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #F9A036;
    text-align: left;
  }
.card-paket_content{
    top: 83px;
    left: 20px;
    width: 250px;
    text-align: left;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
}
.box-popular{
    width: 102px;
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin: 11px;
    margin-right: 14px;
    }
.icon-popular{
    margin-left: 3px;
    margin-right: 6px;
}
span.harga img{
  margin-right: 5px
}
.paket-name, .data-nominal{
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    top: 197px;
    left: 20px;
    position: absolute;
}
.data-nominal{
  font-size: 60px;
  top: 245px
}
.btn.-orange{
    font-family: 'Lato-Bold', 'Lato Bold', 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border-width: 0px;
    position: absolute;
    color: #fff;
    left: 121px;
    top: 308px;
    width: 162px;
    height: 47px;
    background-color: rgba(249, 160, 54, 1);
    border: none;
    border-radius: 21.5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.testimonial_section{
  display: block;
  position: relative;
  height: 476px;
  width: 413px;
  padding-left: 35px;
  overflow-y: hidden; 
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
  transition: transform .2s;
  margin-top: 24px
}
.card_testi{
  position: absolute;
  display: block;
  padding: 30px;
  width: 303px;
  height: 433px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
  -moz-box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
  -webkit-box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
  box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
}
.user_testi{
  position: inherit;
}
.testi-text{
  border-width: 0px;
  position: absolute;
  top: 35px;
  left: 37px;
  width: 211px;
  height: 234px;
  font-family: 'Lato-Regular', 'Lato';  
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176470588235);
  text-align: left;
  line-height: 22px;
}
.testi-photo{
  position: absolute;
  bottom: 96px;
  left: 35px;
}
.testi-photo img{
  border-radius: 50%;
}
.testi-name{
  position: absolute;
  font-family: 'Lato-Regular', 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  bottom: 70px;
  left: 120px;
}
.testi-member{
  font-size: 10px;
  font-family: 'Lato-Regular', 'Lato';
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 43px;
  left: 120px;
}
#testi-img{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 67px;
}
section.intro{
    position: relative;
    height: 638px;
    margin-left: auto;
    text-align: center;
    background: url(../../images/background-image/3-kepoindisini_BG.png) no-repeat;
    background-position: bottom;
    background-size: contain;
    overflow: hidden;
}
.intro img{
    right: 130px;
    bottom: 360px;
    /*opacity: 0.4;*/
    position: absolute;
}
.intro_text{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    position: absolute;
    padding: 0px 10px 0px 10px;
}
.box_intro{
    padding: 17px;
/*    position: relative;
    top: 18rem;*/
}
.header_intro h4{
    font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}
.content_header{
      font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.box_kartu-1, .box_kartu-2{
    position: absolute;
    width: 382px;
    height: 164px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    -moz-box-shadow: 0px 6px 20px rgba(255, 163, 163, 0.501960784313725);
    -webkit-box-shadow: 0px 6px 20px rgba(255, 163, 163, 0.501960784313725);
    box-shadow: 0px 6px 20px rgba(255, 163, 163, 0.501960784313725)
}
.box_kartu-1{
    bottom: 267px
}
.box_kartu-2{
    bottom: 71px;
}
.box_kartu-1 img{
  position: absolute;
  width: 162px;
  left: 28px;
  top: 10px;
}
.box_kartu-2 img{
    width: 162px;
    position: absolute;
    left: 29px;
    top: 7px;
}
.box_kartu-1 .title-box, .box_kartu-2 .title-box{
    font-family: 'Lato-Bold', 'Lato Bold', 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #4A4A4A;
    margin: 0 auto;
    position: absolute;
    right: 46px;
    top: 60px;
}
section.beli-paket{
  position: relative;
  height: 625px;
}
.header-beli-paket{
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #4A4A4A;
  line-height: 34px;
  text-align: center;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.subheader-beli-paket{
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #666666;
    margin: 9px;
    text-align: center;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.beli-paket .background-img{
  position: absolute;
  z-index: 0;
  height: 83px;
  left: -60px;
  top: -15px;
}
section.artikel{
  position: relative;
  height: 700px;
}
.artikel .background-img{
  position: absolute;
  right: 0;
  height: 93px;
  top: -32px;
}
.wrap-box_artikel{
    position: relative;
    margin-right: auto;
    margin: 0 auto;
    margin-left: 16px;
    margin-top: 13px;
}
.box-arikel{
  height: 239px;
  width: 383px;
  margin-bottom: 15px;
  background-color: red;
}
.mini-box_artikel{
    width: 187px;
    height: 187px;
    background-color: white;
    position: absolute;
}
.mini-box_artikel._mini2{
  right: 14px
}
.see-more{
    font-family: 'Lato-Bold', 'Lato Bold', 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    color: #9b9b9b;
    bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    left: 0;
    right: 0;
    text-decoration: underline;
}
.see-more._program{
  width: 14rem;
  text-align: center;
  bottom: 83px
}
.header-artikel{
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #4A4A4A;
  line-height: 34px;
  text-align: center;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.subheader-artikel{
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin: 9px;
    text-align: center;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
section.program-loop{
  position: relative;
  height: 684px;
  background-color: #e4e4e4;
  top: -20px
}
.header-program-loop{
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #4A4A4A;
  line-height: 34px;
  text-align: center;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.subheader-program-loop{
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin: 9px;
    text-align: center;
    width: 31rem;
    margin-left: auto;
    margin-right: auto;
}
.wrap-box_program{
  width: 414px;
  height: 395px;
  display: block;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.box-program{
    border-width: 0px;
    position: absolute;
    width: 312px;
    height: 372px;
    border-radius: 2%;
}
.box-program._first{
    background: url(../../images/loop/loop_ngabubuhits.gif) no-repeat;
    background-position-x: center;
    background-size: cover;
}
.box-program._second{
    left: 340px;
    right: 0px;
    background: url('../../images/mobile/julian-gentilezza-414681-unsplash_u299.png') no-repeat;
    background-position-x: center;
    background-size: cover;
}
.box-program._third{
    left: 670px;
    right: 0px;
    background: url('../../images/loop/ilooprun2017.gif') no-repeat;
    background-position-x: center;
    background-size: cover;
}
.see-more_program{
    position: absolute;
    bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    left: 0;
    right: 0;
    text-decoration: underline;
}
section.promo-loop{
  position: relative;
  height: 700px;
  background-color: #fafafa;
  padding: 15px;
}
.box-promo-loop{
  position: absolute;
  bottom: 7rem;
  width: 382px;
  height: 633px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
  -moz-box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
  -webkit-box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
  box-shadow: 0px 10px 22px rgba(254, 45, 67, 0.2);
}
section.apps-loop_kita{
  position: relative;
  background: url('../../images/mobile/loopkita__u129.png') no-repeat;
  height: 635px;
  background-position: bottom;
  background-size: contain;
}
.apps-loop_kita .google-play{
  position: absolute;
  height: 80px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
section.testimonial{
  position: relative;
  height: 756px;
  padding-top: 70px;
}
section.testimonial .background-img{
  position: absolute;
  right: 0;
  top: 130px;
  width: 94px;
  height: 87px;
}
section.gabung{
  height: 494px;
  position: relative;
}
section.gabung .background-img{
    position: absolute;
    left: 0px;
    right: 0;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
    bottom: -9px;
}
.btn-gabung, .btn-beli_perdana{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  height: 49px;
  background: inherit;
  background-color: rgba(255, 31, 59, 1);
  border: none;
  border-radius: 25px;
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.501960784313725);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.501960784313725);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.501960784313725);
}
.label-btn_gabung, .label-btn_perdana{
  position: absolute;
  left: 0px;
  top: 14px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  font-family: 'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
}
.btn-beli_perdana{
    top: 190px !important;
    background-color: white;
    border: 3px solid #ff1f3b;
    box-shadow: none;
    top: 11px
}
.label-btn_perdana{
  color: #9b9b9b
}
.left-background_img{
  position: absolute;
  width: 146px;
  height: 101px;
  left: -75px;
  bottom: 152px;
}
section .header{
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #4A4A4A;
  line-height: 34px;
  text-align: center;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}
section .subheader{
    font-family: 'Lato-Regular', 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin: 9px;
  text-align: center;
  width: 32rem;
  margin-left: auto;
  margin-right: auto;
}
footer{
  background-color: #ffffff;
  height: 229px;
}
footer .wrap-media_social{
  position: relative;
}
.wrap-media_social img{
    position: absolute;
    left: 0px;
    right: 0;
    top: 40px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.menu-footer{
    width: 299px;
    height: 46px;
    font-family: 'Lato-Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 20px;
    position: absolute;
    bottom: 96px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer .copyright{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 22rem;
  word-wrap: break-word;
  text-align: center;
  bottom: 36px
}
@media (max-width: 360px){
  .slide img{
    width: 360px
  }
  #u236_text{
    width: 325px;
  }
  #u193_text{
    width: 298px
  }
  #u199_div{
    width: 336px;
  }
  #u200_img{
    top: 17px;
    width: 80%;
    height: 80%;
  }
}


@media screen and (max-width: 480px){
    #sidebar-wrapper.open{
        width: 285px
    }
    #main.open{
        margin-left: 286px;
        overflow: hidden;
    }
    .content-main.open{
        overflow: hidden;
        height: 551px;
        margin-left: 30px;
        margin-top: 0px
    }
}